@charset "UTF-8";

*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}

@font-face {
    font-family: 'aloja';
    src: url('Aloja-Light.otf') format('opentype');
}

header{
    background-color: #F9DF6E;
    margin: 30px;
    display: flex ;
    flex-wrap: nowrap;
    padding: 1px;
    
}

html{
    background-color: rgba(169, 169, 169, 0.313);
}

h1{
    text-align: center;
    margin: auto;
    font-family: 'aloja', 'Times New Roman', Times, serif;
    font-size: 70px ;
    
    
}

span{
    font-size: small;

}